.card {
  width: 100%;
  height: max-content;
  margin: 15px auto;
  border-radius: 15px;
  box-shadow: 4px 9px 10px #0000007e;
}

.cardHeader {
    padding: 7px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: bisque;
}

.cardContetnt{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.cardInfo{
  width: 70%;
}

.cardInfo p{
  font-size: 1.2em;
  margin-bottom: 10px;
}

.imgPerfil{
  width: 150px;
}